body {
	font-size: 24pt;
	color: #000000;
	font-family: PT Sans Narrow Bold, sans-serif;
}

h1 {
	font-size: 24pt;
	line-height: 42pt;
	color: #000000;
	font-weight: bold;
	font-family: PT Sans Narrow Bold, sans-serif;
}

b {
	font-size: 30pt;
	line-height: 42pt;
	color: #f7f4f1;
	font-weight: bold;
	font-family: PT Sans Narrow Bold, sans-serif;
}

h2 {
	font-size: 14pt;
	line-height: 42pt;
	color: #f7f4f1;
	font-weight: bold;
	font-family: PT Sans Narrow Bold, sans-serif;
}
}